body
{
   background-image: url("../images/formimages.png") ;
   background-size:cover;
   box-sizing: border-box;
   font: Arial, Helvetica, sans-serif;
}

.imagesample
{
   height:300px;
   width:auto;
}

.container
{

   background-color: rgba(0, 0, 0, 0.24);
   margin: auto auto;
   padding: 40px;
   border-radius: 8px;
   box-shadow: 0 0 10px #000;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 500px;
   height: 450px;
}
   
button
{

   background-color: rgba(21,13,43,0.24);

   padding: 40px;
   border-radius: 8px;
   box-shadow: 0 0 10px #000;
   position: relative;
   width: 20%;
   height: 3%;

}

button:hover
{
   width: 25%;
   height: 6%;
}

nav
{
   position: absolute;
   top:75%;
}

ul li
{
   list-style-type: none;
   display:inline;
   padding: 10px 10px 5px 5px;
   float:bottom;
   position:relative;
   top:50%;
   margin: 10px 20px ;

}
#description{
    color:white;
   
}

