/*------------------------Header------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 40px;
    width: 110%;
}

nav{
    flex:1;
    text-align:right;
    margin-right: 30px;
}

nav ul{
    display:inline-flex;
    margin-top: 1px;
}

nav ul li{
    list-style:none;
    margin: 0 60px;
    cursor: pointer;
}


.logo1 img
{
    width: 220px;
    height:180px;
    margin-left: -100px;
}

.active1
{
    color:rgb(230, 233, 236);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
  
}

.active1:hover{
  background-color: rgba(54, 54, 49, 0.788);
}

.sign-in
{
    display: flex;
    margin-left: 110px;
}

.visitorbtn {
    background-color: #02120c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-left: 40px;
  }

  .container1{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:25px;
}

/*-------------------------Body--------------------------*/


body
{
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#cvn
{
    float: right;
    padding-right: 145px;
}

.pay {
    background-color:  rgba(243, 243, 243, 0.836);
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    width: 420px;
    border-radius: 25px;
  }

  #tot
  {
    background-color: rgba(190, 211, 190, 0.411);
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin: 4px 2px;
    width: 425px;
    border-radius: 25px;
  }

  .form
  {
      padding-bottom: 5%;
  }
  .container3{
    background-color: rgba(0, 0, 0, 0.24);
	margin: auto auto;
	padding: 30px 0px 85px 0px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 320px;
    margin-top: 5%;
	color: rgb(238, 241, 244);
	top:20%;
  }

  /*----------------------------------Footer--------------------------------*/

.footer{
    background:rgba(0, 0, 0, 0.979);
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    bottom: -10%;
    position:absolute;

}

.footer-contend{
    display:inline;
    margin-left:2%;
    padding-bottom: 1%;
}

.logo2 {
   
    padding-right: 0%;
}

.bind1 {
    padding-bottom: 1%;
    margin-right: -20%;
    margin-left: 20%;
}

.bind2 {
    padding-bottom: 1%;
    margin-right:-35%;
    margin-left: 35%;
}