form
{
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.863);
    margin: auto;
    color: #FFFFFF;
    padding: 50px 50px 50px 50px;
    text-align: justify;
    border-radius: 15px 15px 15px 15px;
}

body
{
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form
{
    padding-top: 90px;
}

#cvn
{
    float: right;
    padding-right: 145px;
}

button {
    background-color:  rgba(243, 243, 243, 0.836);
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    width: 500px;
    border-radius: 25px;
  }

  img
  {
      width: 30px;
      height: 30px;
  }

  #tot
  {
    background-color: rgba(190, 211, 190, 0.411);
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin: 4px 2px;
    width: 425px;
    border-radius: 25px;
  }