.button{
    padding-left: 39.5%; 
    top: 68%;
    position: absolute;
    
}

.btn1{
    border-style:none;
    height: 44px;
    width: 249px;
    text-decoration-style: solid;
    background-color: rgba(255, 255, 255, 0.671);
    font-size: 25px;
   
    
}
.btn1:hover{
    background-image: linear-gradient( rgba(234, 0, 255, 0.205) , rgba(255, 0, 255, 0.178));
    height: 45px;
    width: 250px;
    border-color: rgb(192, 193, 255);
}

body{
    background-image: url(./../images/332.png);
    background-size: cover;
    font: Arial, Helvetica, sans-serif;
}
