body{
    margin:0;
    padding: 0;
    background-image: url("./../images/userdashboard.jpg"); 
    background-size: cover;
    background-color: aliceblue;


}
.container{

    background-color: rgba(0, 0, 0, 0.24);
	margin: auto auto auto;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 320px;
}