*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.body{
	height: 100vh;
	background-image: linear-gradient(to bottom right, rgb(0, 68, 255), rgba(46, 203, 243, 0.634));
	background-repeat: no-repeat;
 }

.container1{

    background-color: rgba(0, 0, 0, 0.24);
	margin: auto auto;
	padding: 30px 0px 90px 0px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 25%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 590px;
	height: 450px;
    margin-top: 5%;
	color: rgb(238, 241, 244);

}

h1{
    text-align: center;
    color: rgb(238, 241, 244);
}

#setting
{
    margin-left: 16%;
}

.btn
{
	background-color:rgb(80, 101, 124);
	margin-left: 23%;
	color: rgb(238, 241, 244);
	cursor: pointer;
}

.btndlt
{
	background-color:rgb(80, 101, 124);
	margin-left: 35%;
	color: rgb(238, 241, 244);
	cursor: pointer;
	border: #000 2px solid;
		
}

.addadminacoount{
	background-color:rgb(80, 101, 124);
	cursor: pointer;
	margin-left: 38%;
	color:white;
	text-decoration: none;
}

.btnsubmit{
	position: absolute;
	height: 30px;
	width: 400px;
	border-radius: 15px;
	border-style: none;
    text-decoration-style: solid;
	margin-left: 10%;
}
.btnsubmit:hover{
	background-image: linear-gradient( rgba(234, 0, 255, 0.205) , rgba(255, 0, 255, 0.178));
    height: 30px;
    width: 400px;
    border-radius: 20px;
	margin-left: 10%;
}
.container{
    width: 100%;
    height: 60%;
	position: absolute;

}

.logo{
    padding: 20px;
}

nav{
    background-color: black;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 250px;
    cursor: pointer;
}

nav .logo1{
    width: 30px;
    margin-right: 10px;
}


nav .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #fff;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-right: 5%;
    cursor: pointer;
    
}

nav .details a{
    text-decoration: none;
    color: #fff;
}

.admin-content {
    display: none;
    position: absolute;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 10%;
	padding-right: 15%;
  }
  
  .admin-content a {
    color: rgb(253, 245, 245);
    padding: 15px 20px 0px 15px;
    background-color: #000;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
    display: block;
  }
  
  .admin-content a:hover {background-color: rgb(16, 11, 11);}
  
  .details:hover  .admin-content{display: block;}
  
  .admin-content:hover .btn{background-color: #3c3f3cf1;}




